body{
    background-color: rgb(208, 232, 248);
    font-size: 1rem;
    font-family: sans-serif;
}
#qr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    max-width: 340px; /* Changed 'width: 29vh' to 'max-width: 340px'*/
    padding: 1em; /* Changed units from 15px to 1em*/
    height: auto;
    border-radius: 20px;
}
img{
    max-width: 100%;
    border-radius: 20px;
    /* Deleted margins*/
}
main{
    display: flex;
    width: 100%;
    /* Changed 'height' to 'min-height' */
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Set same margins for both '<p>' and '<h1>' tags*/
p{
    color: gray;
    text-align: center;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
}
h1{
    text-align: center;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
}
